body {
    text-align: center;
    background-color: #ffe6e6;
    background-image: url("https://i.pinimg.com/originals/ff/22/36/ff2236e2a40e5102820ea2e02ca53e35.gif");
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-family: "Silkscreen", sans-serif;
    font-size: 45px;
    color: #8298D9;
}
.imgh1{
    width: 100px;
    object-fit: cover;
}
.Titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: "Silkscreen", sans-serif;
    font-size: 45px;
    color: #8298D9;
}
p{
    font-family: "Silkscreen", sans-serif;
    font-size: 20px;
    color: #BF9BB6;
}
#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: solid;
    border-color: cornflowerblue;
    box-shadow: 3px 3px 3px 3px;
    color: lightpink;
}
button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #F2B6BB;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Silkscreen", sans-serif;
}
#no-button {
    position: absolute;
    transition: top 0.2s, left 0.2s;
}

#lives-container {
    font-size: 24px;
    color: red;
    text-align: right;
    margin-bottom: 10px;
}
.life-icon {
    width: 24px;  /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: 0 2px; /* Espaçamento entre os ícones */
}
.game-over-img {
    width: 200px;  /* Ajuste conforme necessário */
    height: auto;
    display: block;
    margin: 10px auto; /* Centraliza a imagem */
}


/* CSS da fonte pixel */
.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* CSS da fonte H1 */
.honk {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  }